body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TT Lakes;
}

.container {
  display: grid;
}
/********************************** header ***************************/

@media only screen and (min-width: 320px) {
  body {
    overflow: hidden;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 17px 25px;
  }
  .shadow__line {
    width: 100%;
    height: 2px;
    background: #0d6951;
  }
  .header__burger,
  .header__repair,
  .header__checkstatus {
    width: 50px;
    height: 50px;
  }

  .header__call,
  .header__chat,
  .header__profile,
  .header__hiddiv,
  .header__dop-text,
  .header__statusrem,
  .header__zayavka,
  .subtitle__dop,
  .desk-text {
    display: none;
  }

  /******************************title **************************/
  .mein {
    background: #f8f8f8;
    height: 1100px;
  }

  .title {
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .title h1 {
    padding-left: 16px;
    margin: inherit;
  }
  .title img {
    display: inline-block;
  }

  /********************* menu ***************/

  .mein__menu {
    width: 400px;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    color: #7e7e82;
    font-size: 20px;
    gap: 25px;
    padding-top: 30px;
    padding-left: 30px;
  }
  .nav__rem {
    border: 2px solid #b8ffec;
    width: 270px;
    height: 40px;
  }

  .subtitle {
    padding: 16px 20px;
    color: #1b1c21;
    font-size: 20px;
  }

  .readmore {
    display: flex;
    padding-left: 30px;
  }
  .readmore img {
    width: 40px;
    height: 50px;
  }

  .pictur img {
    width: 515px;
    padding-left: 20px;
  }
}

/*********************** tab ****************768px***************************************/
@media only screen and (min-width: 768px) {
  .mein__menu {
    width: 700px;
  }
  .mein {
    height: 1270px;
  }
  .header__call,
  .header__chat,
  .header__profile {
    width: 50px;
    height: 50px;
    display: flex;
    padding-right: 20px;
  }
  .header__logo {
    padding-right: 300px;
  }

  .subtitle__dop {
    display: contents;
  }
  .sub {
    display: flex;
  }

  .pictur img {
    float: right;
    margin-top: 20px;
  }
  .desk-text {
    display: none;
  }
}

/*********************** tab ****************1280px***************************************/
@media only screen and (min-width: 1280px) {
  .header__burger,
  .header__hiddiv,
  .header__logo,
  .header__call,
  .header__chat,
  .header__profile,
  .header__repair,
  .header__divider,
  .header__checkstatus,
  .shadow,
  .subtitle,
  .subtitle__dop,
  .header {
    display: none;
  }
  .mein {
    padding: 90px;
  }
  .desk-text {
    display: block;
    padding-top: 40px;
  }
  .mein__menu {
    width: 100%;
    font-size: 25px;
  }
  .pictur img {
    float: right;
    margin-top: 20px;
    width: 770px;
  }
  .sub {
    font-size: 25px;
  }
  .nav__rem {
    border: 2px solid #b8ffec;
    width: 350px;
    height: 40px;
  }
  .title {
    font-size: 20px;
  }
}
